# Ignore Python cache directories
__pycache__/

# Ignore specified directories
ext/
messages/
account/
activities/
activity/
programs/
servers

# Ignore machine ID file
.machine_id

# Ignore SQLite database files
*.db
